
.idea/webServers.xml
Codes/__pycache__/unet.cpython-36.pyc
Codes/__pycache__/pix2pix.cpython-36.pyc
.idea/deployment.xml
.idea/ano_pred_cvpr2018.iml
.idea/codeStyles/codeStyleConfig.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/modules.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/codeStyleConfig.xml
